@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Cabin", sans-serif;
  }
}

:root {
  font-family: "Cabin", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
.joinform {
  width: 100%;
  background-color: #000;
  border: 1px solid #fff;
  padding: 10px 8px;
  text-align: center;
  font-weight: 600;
  text-transform: capitalize;
  margin: 5px 0;
}
.custom-grid {
  grid-template-columns: 40% 20% 40%;
  font-weight: 700;
}
.custom-grid-space {
  grid-template-columns: 30% 70%;
}
.searchinput {
  background-color: #fff;
  color: #000;
  font-weight: 700;
  padding: 4px 6px;
  text-align: center;
  border: 1px solid #fff;
  margin-right: 5px;
}
.searchbutton {
  background: black;
  padding: 4px 6px;
  border: 1px solid #fff;
}
.searchinput::placeholder {
  color: #000;
}
.modalinput > label {
  font-weight: 700;
  width: 100%;
  color: black;
}
.modalinput > input {
  border: 2px solid black;
  width: 100%;
  padding: 6px 3px;
  font-weight: 700;
  color: #000;
  margin: 6px 0;
}

.modalinput > textarea {
  border: 2px solid black;
  width: 100%;
  padding: 6px 3px;
  margin: 6px 0;
}

.dropzone {
  border: 2px dashed #cccccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.dropzone p {
  margin-bottom: 0;
}

.dropzone img {
  max-width: 100px;
  max-height: 100px;
  margin-right: 10px;
}

.dropzone button {
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}
.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 15px;
}

.image-item {
  position: relative;
}

.image-item img {
  width: 100%;
  height: auto;
}

.remove-button {
  position: absolute;
  top: -10px;
  right: -10px;
  border: none;
  cursor: pointer;
  font-size: 22px;
  color: black;
  font-weight: 900;
}

h1 {
  @apply text-4xl font-bold my-6;
}
h2 {
  @apply text-3xl font-semibold my-4;
}
h3 {
  @apply text-2xl font-semibold my-3;
}
h4 {
  @apply text-xl my-2;
}
h5 {
  @apply text-lg my-1;
}
p {
  @apply text-lg my-2 leading-8;
}
